<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/nav.ejs') %>

    <main>
            <% if (errorMessage) { %>
            <p><%= errorMessage %></p>
            <% } %>
        <form class="login-form" action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" style="color: black" name="email" id="email" value="<%= oldInput.email %>" required>
            </div>
            <div class="form-control">
                <label for="imageurl">Password</label>
                <input type="password" style="color: black" name="password" id="password" value="<%= oldInput.password %>" required>
            </div>
            <button type="submit">Sign in</button>
                    </form>
                    <div style="margin: auto;">
                        <a href="/reset">Reset Password</a>
                    </div>
                    
    </main>
</body>

</html>