<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a class="active" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="product-form" action="/admin/<%= editing ? 'edit-product' : 'add-product' %>
            " method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" style="color: black" name="title" id="title" value="<% if (editing) { %>
                    <%= product.title %>
                <% } %>
                ">
            </div>
            <div class="form-control">
                <label for="imageurl">Image URL</label>
                <input type="text" style="color: black" name="imageUrl" id="imageurl" value="<% if (editing) { %>
                    <%= product.imageurl %>
                <% } %>">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="text" style="color: black" name="price" id="price" value="<% if (editing) { %>
                    <%= product.price %>
                <% } %>">
            </div>
            <div class="form-control">
                <label for="description">description</label>
                <textarea name="description" id="description" rows="5"></textarea>
            </div>
            <% if (editing) { %> 
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <button type="submit">
                <% if (editing) { %>
                    Update Product
                <% } else { %>
                    Add Product
                <% } %>
            </button>
                    </form>
    </main>
</body>

</html>