<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(product => { %>
                    <li>
                        <p><%= product.productId.title %> (<%= product.quantity %>)</p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" value="<%= product.productId._id %>" name="productId">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                        </li>
                <% }) %>
            </ul>
            <!-- <form action="/create-order" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btnr">Order Now</button>
            </form> -->
            <a href="/checkout">Order Now</a>
        <% } else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
    </main>