<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/nav.ejs') %>
    <main class="centered">
        <h1><%= product.title %></h1>
        <div>
            <p>$<%=product.price %></p>
            <p><%= product.description %></p>
        </div>
        <hr>
        <div>
            <img src="/<%= product.imageurl %>" alt="<%= product.imageurl %>"/>
            <% if (isAuthenticated) { %> 
                <%-include('../includes/add-to-cart.ejs', {product: product}) %>
                <% } %>
        </div>
    </main>
</body>